<div style="width:70%;float:left;">
	<table id="aat1">
		<tr bgcolor="#D3D3D3">
			<th id="aat2">ID</th>
			<th id="aat2">IN_Date</th>
			<th id="aat2">IN_Time</th>
			<th id="aat2">OUT_Date</th>
			<th id="aat2">OUT_Time</th>
			<th id="aat2">WORK_Hour</th>
			<th id="aat2">IP_IN</th>
			<th id="aat2">IP_OUT</th>
			<th id="aat2">Status</th>
		</tr>
		<% @attendence.each do |attendence| %>

			<tr>
				<td id="aat3"><%= attendence.id %></td>
				<td id="aat3"><%= attendence.in_date %></td>
				<td id="aat3"><%= get_intime(attendence) %></td>
				<td id="aat3"><%= attendence.out_date %></td>
				<td id="aat3"><%= get_outtime(attendence) %></td>
				<td id="aat3"><%= get_checkout(attendence) %></td>
				<td id="aat3"><%= attendence.ip_in %></td>
				<td id="aat3"><%= attendence.ip_out %></td>
				<td id="aat3"><%= attendence.status %></td>
			</tr>
		<% end %>
	</table>
	<p>
	  <h3>Download:
		<%= link_to "Excel_Format ", attendence_admin_user_path(format: "xls") %>
	</p>
</div>
<div style="width:29%">
	<table border="1">
		<tr>
			<th>Email</th>
			<th>IN_Date</th>
			<th>Total_WORK_Hour</th>
		</tr>
		<% @attendences.each do |attendence| %>
			<tr>
				<td><%= User.find(attendence.user_id).email %></td>
				<td><%= attendence.in_date %></td>	
				<td><%= get_totalworkhour(attendence) %></td>						
			</tr>
		<% end %>
	</table>
</div>
<br/>
<p>
  <h3>Download:
		<%= link_to "Excel_Format ", attendences_admin_user_path(format: "xls") %>
	</h3>
</p>
		

		


